
# pycellsheet

*.sig

#-----------------

*.pyc
dist
build
apidocs/_build/
MANIFEST

*.psproj
.cache
pyspread.egg-info
pycellsheet.egg-info

# editors
.idea/
.spyderproject
.spyderworkspace


public/
.sass-cache/

# coverage
*.coverage
htmlcov
.tox/

# planning documents (local only)
PLANS/
