[Desktop Entry]
Categories=Office;Spreadsheet;
Comment[en_US]=PyCellSheet is a non-traditional spreadsheet application that is based on and written in the programming language Python
Comment=PyCellSheet is a non-traditional spreadsheet application that is based on and written in the programming language Python
Exec=pycellsheet
GenericName[en_US]=Python based Spreadsheet
GenericName=Python based Spreadsheet
Keywords=python;spreadsheet;matplotlib;math;
Icon=pyspread
MimeType=application/x-pycellsheet-spreadsheet;application/x-pycellsheet-bz-spreadsheet
Name[en_US]=PyCellSheet
Name=PyCellSheet
StartupNotify=false
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
